ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
}

html {
    // от 375 до 500
    font-size: calc(100vw / 375 * 10); // <= указываем разрешение из макета (мобила)
    @media (min-width: 560px) { // от 500px до 768px
        font-size: calc(100vw / 560 * 10); // <= указываем разрешение из макета (планшет)
    }
    
    @media (min-width: 768px) { // от 767px до 1024px
        font-size: calc(100vw / 768 * 10);
    }
    @media (min-width: 1024px) { // от 1024px до 1440px
        font-size: calc(100vw / 1440 * 10); // <= указываем разрешение из макета (десктоп)
    }
    @media (min-width: 1441px) { // от 1440px до 1920px
        font-size: calc(100vw / 1920 * 10); // <= указываем разрешение из макета (4k десктоп)
    }
}

.page,
.page__body {
    min-height: 100%;
    .menu-open {
        overflow-y: hidden;
    }
}

.page__body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    color: var(--clr-primary-400);

    overflow-x: hidden;

    background-color: var(--clr-neutral-900);
    background-image: urL("../../images/space-tourism/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    @media (min-width: 560px) {
        background-image: urL("../../images/space-tourism/home/background-home-tablet.jpg");
    }
    @media (min-width: 1024px) {
        background-image: urL("../../images/space-tourism/home/background-home-desktop.jpg");
    }
}

.button {
    --size-btn: 15rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    font-family: var(--ff-accent);
    font-weight: var(--fw-regular);
    font-size: var(--fs-button);
    line-height: 1;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    width: var(--size-btn);
    height: var(--size-btn);
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    
    @media (min-width: 768px) {
        --size-btn: 24.2rem;
    }
    @media (min-width: 1440px) {
        --size-btn: 27.4rem;
    }
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.header {
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
    margin-bottom: 4.8rem;

    @media (min-width: 560px) {
        padding-left: 3.9rem;
        padding-top: 0;
        margin-bottom: 10.6rem;
    }

    @media (min-width: 1024px) {
        padding-left: 5.5rem;
        padding-top: 4rem;
        margin-bottom: 7.6rem;
    }
}

.logo {
    --fz-logo: 4rem;
    min-height: var(--fz-logo);
    min-width: var(--fz-logo);

    @media (min-width: 1024px) {
        &::before {
            position: absolute;
            content: "";
            height: 0.1rem;
            width: 48%;
            background-color: hsla(0, 0%, 100%, 0.4);
            bottom: 35%;
            left: 10%;
            z-index: 1001;
        }
    }
}

.navigation {
    position: relative;
    text-transform: uppercase;

    &__toggle {
        display: none;
        background: transparent;
        border: none;
        cursor: pointer;

        @media (max-width: 560px) {
            display: block;
            position: absolute;
            z-index: 9999;
            background-image: url('../../images/space-tourism/shared/icon-hamburger.svg');
            background-repeat: no-repeat;
            width: 2.4rem;
            aspect-ratio: 1;
            top: 3.4rem;
            right: 2.4rem;
        }

        &[aria-expanded="true"] {
            background-image: url('../../images/space-tourism/shared/icon-close.svg');
        }
    }

    &__list {
        --gap: 3.2rem;
        background: hsl(0 0% 0% / 0.7);
        font-size: 1.4rem;

        @supports (backdrop-filter: blur(1rem)) {
            background: hsl(0 0% 100% / 0.05);
            backdrop-filter: blur(1.5rem);
        }

        @media (max-width: 560px) {
            flex-direction: column;
            position: fixed;
            z-index: 1000;
            inset: 0 0 0 33%;

            padding: min(25vh, 11.8rem) 3.2rem;
            transform: translateX(100%);
            transition: transform 350ms ease-out;
            align-items: start;
        }

        @media (min-width: 560px) and (max-width: 1024px) {
            --gap: 2.5rem;
            padding-block: 3.6rem;
            padding-inline: clamp(2rem, 10vw, 4.7rem);
            font-size: 1.3rem;
        }

        @media (min-width: 1024px) {
            font-size: 1.4rem;
            padding-block: 3.6rem;
            padding-inline: clamp(5rem, 10vw, 10rem);
            --gap: 3rem;
        }

        &[data-visible="true"] {
            transform: translateX(0%);
        }

        li {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 0.3rem;
                background-color: var(--clr-neutral-100);
                top: 5.4rem;
                transition: all 500ms ease;
                opacity: 0;
                left: -2rem;

                @media (max-width: 560px) {
                    top: 3rem;
                }

                @media (min-width: 560px) and (max-width: 1024px) {
                    top: 5.1rem;
                }
            }
            &:hover::after {
                opacity: 1;
                left: 0;
            }
        }
    }
    
    &__link {
        display: flex;
        gap: var(--size-300);
        color: var(--clr-neutral-100);
        span {
            font-weight: var(--fw-bold);

            @media (min-width: 560px) and (max-width: 1024px) {
                display: none;
            }
        }
    }
}