.markdown_wrapper {
    display: flex;
    width: 80%;
    height: 60%;
    overflow: hidden;

    border: 1px solid gray;
    border-radius: 8px;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.divider {
    height: 100%;
    width: 2px;
    background-color: gray;
    cursor: col-resize;
}

.source {
    height: 100%;
    width: calc(50% - 1px);

    overflow-y: auto;
    resize: none;

    background-color: white;
    padding: 12px;
    border: none;
    font-size: 1.2em;
}
.source:focus {
    outline: none;.
}

.preview {
    height: 100%;
    width: calc(50% - 1px);

    overflow-y: auto;

    background-color: whitesmoke;
    padding: 12px;
    border: none;
}

.preview > * {
    margin-top: 0;
}
