@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../fonts/results-summary/HankenGrotesk-Medium.woff2') format('woff2'),
      url('../fonts/results-summary/HankenGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk ExtraBold';
  src: url('../fonts/results-summary/HankenGrotesk-ExtraBold.woff2') format('woff2'),
      url('../fonts/results-summary/HankenGrotesk-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk Bold';
  src: url('../fonts/results-summary/HankenGrotesk-Bold.woff2') format('woff2'),
      url('../fonts/results-summary/HankenGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* Ширина бокового меню */
  height: 100vh;
  /* Занимает всю высоту экрана */
}

nav {
  background-color: #333;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}



body {
  font-family: 'Hanken Grotesk Bold';
}