body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* Ширина бокового меню */
  height: 100vh;
  /* Занимает всю высоту экрана */
}

nav {
  background-color: #333;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}
