:root {
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 36%, 20%);
    --clr-secondary-400: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-accent: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;

    --fw-regualar: 500;
    --fw-bold: 700;
}

h1, h2, h3 {
    line-height: 1;
}

main {
    padding: 16px;
    font-family: var(--ff-base);
    font-weight: var(--fw-regualar);
    color: var(--clr-neutral-400);
    font-size: 14px;
    background-color: var(--clr-secondary-400);
    line-height: 1.7;

    display: grid;
    place-content: center;
}

.flex-group {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.button {
    cursor: pointer;
    padding: 10px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    text-transform: none;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
}

.button[data-icon="shopping-cart"]::before {
    content: '';
    width: 15px;
    height: 16px;
    background-image: url('../../../images/product-preview-card/icon-cart.svg');
}

.button:is(:hover, :focus) {
    background-color: var(--clr-primary-500);   
}

.product {
    --product-padding: 24px;
    --content-spacing: 16px;

    display: grid;
    overflow: hidden;
    background-color: var(--clr-neutral-100);
    border-radius: 8px;
    max-width: 600px;
}

@media (min-width: 815px) {
    .product {
        --product-padding: 32px;

        grid-template-columns: 1fr 1fr;
    }
}

.product__content {
    padding: var(--product-padding);
    display: grid;
    gap: var(--content-spacing);
}

.product__category {
    font-size: 12px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.product__title {
    font-size: 32px;
    font-family: var(--ff-accent);
    color: var(--clr-neutral-900);
}

.product__price {
    font-size: 32px;
    font-family: var(--ff-accent);
    color: var(--clr-primary-400);
}