.layout {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 584px) 1fr;
    grid-template-rows: min-content 1fr min-content;
}

.layout__header {
    grid-column: 1 / -1;
}

.layout__main {
    grid-column: 2 / -2;
}

.layout__footer {
    grid-column: 1 / -1;
}