.main {
    padding: 15px 30px;
    display: grid;
    /* place-content: center; */
    /* justify-content: center; */
    justify-items: center;
    align-content: center;
    row-gap: 30px;
}

.main__title {
    margin: 0;
}

.main__search {
    justify-self: stretch;
}

.main__buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 30px;
}

.main__locale {
    margin: 0;
}

.main__link {
    color: #1a0dab;
    text-decoration: none;
}

.main__link:hover {
    text-decoration: underline;
}