:root {
    --clr-primary-red-300: hsl(0, 100%, 67%);
    --clr-bg-red-300: hsla(0, 100%, 67%, 0.1);
    --clr-primary-yellow-300: hsl(39, 100%, 56%);
    --clr-bg-yellow-300: hsla(39, 100%, 56%, 0.1);
    --clr-primary-green-300: hsl(166, 100%, 37%);
    --clr-bg-green-300: hsla(166, 100%, 37%, 0.1);
    --clr-primary-blue-300: hsl(234, 85%, 45%);
    --clr-bg-blue-300: hsla(234, 85%, 45%, 0.1);

    --clr-gr-slate-blue: hsl(252, 100%, 67%);
    --clr-gr-royal-blue: hsl(241, 81%, 54%);
    --clr-gr-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-gr-persian-blue: hsla(241, 72%, 46%, 0);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(221, 100%, 96%);
    --clr-neutral-500: hsl(241, 100%, 89%);
    --clr-neutral-900: hsl(224, 30%, 27%);

    --ff-base: 'Hanken Grotesk', sans-serif;

    --fw-regualar: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

body {
    font-size: 16px;
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-500);
    font-family: var(--ff-base);
    font-weight: var(--fw-regualar);
}
@media (min-width: 600px) {
    body {
        display: grid;
        place-content: center;
        min-height: 100vh;
    }
}

h2 {
    color: var(--clr-neutral-100);
}

.flex-group {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    padding: 10px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 30px;
    text-transform: none;
    background-color: var(--clr-gr-royal-blue);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
}

.button:is(:hover, :focus) {
    background-color: var(--clr-neutral-900);
}

.card-result {
    min-width: 375px;
}

.card-result__result {
    padding: 15px 5px 35px;
    margin-bottom: 20px;
}

.card-result__summary {
    display: grid;
    padding: 0 30px;
}

@media (min-width: 600px) {
    .card-result {
        max-width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0 0 15px var(--clr-neutral-500);
        border-radius: 30px;
    }
    .card-result__result {
        margin-bottom: 0;
    }

    .card-result__summary {
        padding: 30px;
    }
}


.result {
    background: linear-gradient(var(--clr-gr-slate-blue), var(--clr-gr-royal-blue));
    border-radius: 0 0 30px 30px;
    text-align: center;
}

@media (min-width: 600px) {
    .result {
        border-radius: 30px;
    }
}

.result__rating {
    background: linear-gradient(var(--clr-gr-violet-blue), var(--clr-gr-persian-blue));
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 30px;
}

.result__your-rating {
    font-size: 56px;
    font-weight: var(--fw-extra-bold);
    color: var(--clr-neutral-100);
}

.result__text {
    max-width: 76%;
    margin: 0 auto;
}

.summary_list {
    display: grid;
    gap: 16px;
    margin-bottom: 20px;
}
.summary__item {
    border-radius: 8px;
    padding: 15px 10px;
    background-color: var(--item-bg-color)
}

.summary__item-title {
    display: flex;
    gap: 16px;
    align-items: center;
}
.summary__item-title::before {
    content: '';
    width: 20px;
    height: 20px;
}

.summary__item span:first-child {
    color: var(--item-color);
}
.summary__item span:first-child::before {
    background-image: var(--svg-item-icon);
}

.summary__item[data-item="reaction"] {
    --svg-item-icon: url('../../../images/results-summary/icon-reaction.svg');
    --item-color: var(--clr-primary-red-300);
    --item-bg-color: var(--clr-bg-red-300);
}
.summary__item[data-item="memory"] {
    --svg-item-icon: url('../../../images/results-summary/icon-memory.svg');
    --item-color: var(--clr-primary-yellow-300);
    --item-bg-color: var(--clr-bg-yellow-300);
}
.summary__item[data-item="verbal"] {
    --svg-item-icon: url('../../../images/results-summary/icon-verbal.svg');
    --item-color: var(--clr-primary-green-300);
    --item-bg-color: var(--clr-bg-green-300);
}
.summary__item[data-item="visual"] {
    --svg-item-icon: url('../../../images/results-summary/icon-visual.svg');
    --item-color: var(--clr-primary-blue-300);
    --item-bg-color: var(--clr-bg-blue-300);
}

.dark-text {
    color: var(--clr-neutral-900)!important;
}